body {
  background-color: #e5fff9;
  font-family: Merriweather;
}

.card {
  color: #000;
  font-size: 22;
  font-family: arial;
  font-weight: bold;
  font-style: italic;
}

.playerbox {
  width: 170px;
  height: 200px;
  border: solid #e5fff9 1px;
  background-color: #e5fff9;
  margin-top: 5px;
  margin-left: 100px;
  border-radius: 10px;
}

#player2 {
  width: 200px;
  height: 200px;
  background-color: white;
  border: solid black 5px;
  margin-top: 30px;
  margin-left: 300px;
}

#container1 {
  text-align: center;
  /*margin-left: 300px;*/
  margin-top: 10px;
}

#container2{
  text-align: center;
  /*margin-left: 300px;*/
}

#buttonrow {
  margin-top: 20px;
  text-align: center;
}

h1 {
 justify-content: center;
 height: 150px;
 margin-top: 3%;
 margin-left: 8%;
 margin-bottom: 3%;
 margin-right: 8%;
 background-color:  #c1a8ad ;
 border-radius: 5px;
 white-space: nowrap;
 color: white;
}
